<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PitchPerfect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43B3B13B1D8BB7F500142594</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43B3B14F1D8BB7F500142594</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43B3B15A1D8BB7F500142594</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
